/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/* body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: rgb(207, 188, 164);
} */

body{
 overflow: hidden;
 background-color: rgb(207, 188, 164);
}

.try{
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  height: 100px;
  text-align: center;
  overflow: auto;
  width: 70%;
  color: rgb(0, 0, 0);
  font-size: 23px;
  font-weight: 500;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 68vh;
  background: rgb(207, 188, 164);
}


#menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #bbbac5, #f4f5f1, #e5e4de);
  color: white;
  padding: 1rem 2rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.logo span {
  font-family: 'Segoe UI', sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  color:rgba(52, 49, 49, 0.911)
}

.navbar a {
  padding: 0.5rem 1rem;
  border-radius: 12px;
  color: rgba(52, 49, 49, 0.911);
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  transition: 0.3s ease;
}

.navbar a.logout-btn:hover {
  background-color: #f1ecec;
}

@keyframes floatNotes {
  0% { transform: translateY(100px) rotate(0deg); opacity: 0; }
  50% { opacity: 1; }
  100% { transform: translateY(-200px) rotate(360deg); opacity: 0; }
}

#menu::before {
  content: '♪ ♫ ♩ ♬';
  position: absolute;
  font-size: 3rem;
  top: 100%;
  left: 5%;
  color: rgba(19, 19, 19, 0.733);
  animation: floatNotes 7s infinite linear;
}

.floating-notes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* да не пречат на кликвания */
  overflow: hidden;
}

.note {
  position: absolute;
  font-size: 2rem;
  color: rgba(35, 33, 33, 0.308);
  animation: floatNote 6s linear infinite;
  animation-delay: calc(1s * var(--i));
}

.note:nth-child(1) { left: 10%; --i: 0; font-size: 2rem; }
.note:nth-child(2) { left: 25%; --i: 1; font-size: 2.5rem; }
.note:nth-child(3) { left: 40%; --i: 2; font-size: 2rem; }
.note:nth-child(4) { left: 55%; --i: 3; font-size: 3rem; }
.note:nth-child(5) { left: 70%; --i: 4; font-size: 2.2rem; }
.note:nth-child(6) { left: 86%; --i: 5; font-size: 2rem; }

@keyframes floatNote {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    transform: translateY(-200%);
    opacity: 1;
  }
}

.wrapper footer a {
  font-size:18px;
  color: #434343;
  text-decoration: none;
  font-weight: 500;
  margin-left: 30px;
  color: white;
}

.wrapper footer a:hover {
  color:#888888;
}

.wrapper {
  padding: 35px 40px;
  border-radius: 60px 60px 0 0;
  background: #00000061;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 500px;
  border: 3px solid black;
}

#prev, #next {
  background-color: transparent;
  width: 0;
  font-weight: bold;
  font-size: 60px;
  height: auto;
  width: auto;
  padding: 0;
  border: none;
}

header h2 {
  font-size: 1.6rem;
}

header .column {
  display: flex;
  align-items: center;
}
header span {
  font-weight: 500;
  margin-right: 15px;
  font-size: 1.19rem;
}
header input {
  outline: none;
  border-radius: 30px;
}
.volume-slider input {
  accent-color: #fff;
}

.keys-checkbox {
  display: inline-flex;
  color: #ffffff;
  align-items: center;
  justify-content: space-between;
}

.keys-checkbox input {
  height: 30px;
  width: 60px;
  cursor: pointer;
  appearance: none;
  position: relative;
  background: #4B4B4B;
  border-radius: 15px;
  margin-left: 10px;
  
}
.keys-checkbox input::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #8c8c8c;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
.keys-checkbox input:checked::before {
  left: 35px;
  background: #fff;
}
.piano-keys {
  display: none;
  list-style: none;
  margin-top: 40px;
  justify-content: center;
}

.piano-keys.active {
  display:flex;
  margin-bottom: 10px;
  height: 280px;
}

.piano-keys .key {
  cursor: pointer;
  user-select: none;
  position: relative;
  text-transform: uppercase;
}
.piano-keys .black {
  z-index: 2;
  width: 44px;
  height: 170px;
  margin: 0 -22px 0 -22px;
  border-radius: 0 0 5px 5px;
  background: linear-gradient(#333, #000);
  box-shadow: 4px 4px 10px rgb(0 0 0 / 62);
  border: 3px solid #494949e3;
}
.piano-keys .black.active {
  box-shadow: inset -5px -10px 10px rgba(255,255,255,0.1);
  background:linear-gradient(to bottom, #000, #434343);
}
.piano-keys .white {
  width: 90px;
  border-radius: 8px;
  border: 1px solid #000;
  background: linear-gradient(#fff 96%, #eee 4%);
  box-shadow: 5px 5px 10px rgb(255 255 255 / 68);
  border: 4px solid #d1d1d1db;
}
.piano-keys .white.active {
  box-shadow: inset -5px 5px 20px rgba(0,0,0,0.2);
  background:linear-gradient(to bottom, #fff 0%, #eee 100%);
}
.piano-keys .key span {
  position: absolute;
  bottom: 20px;
  width: 100%;
  color: #000000;
  font-size: 1.13rem;
  text-align: center;
}
.piano-keys .key.hide span {
  display: none;
}
.piano-keys .black span {
  bottom: 13px;
  color: #888888;
}

@media screen and (max-width: 815px) {
  .wrapper {
    padding: 25px;
  }
  header {
    flex-direction: column;
  }
  header :where(h2, .column) {
    margin-bottom: 13px;
  }
  .volume-slider input {
    max-width: 100px;
  }
  .piano-keys {
    margin-top: 20px;
  }
  .piano-keys .key:where(:nth-child(9), :nth-child(10)) {
    display: none;
  }
  .piano-keys .black {
    height: 100px;
    width: 40px;
    margin: 0 -20px 0 -20px;
  }
  .piano-keys .white {
    height: 180px;
    width: 60px;
  }
}

@media screen and (max-width: 615px) {
  .piano-keys .key:nth-child(13),
  .piano-keys .key:nth-child(14),
  .piano-keys .key:nth-child(15),
  .piano-keys .key:nth-child(16),
  .piano-keys .key :nth-child(17) {
    display: none;
  }
  .piano-keys .white {
    width: 50px;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .btn{
  font-size: 16px;
  padding: 0.25em;
  width: 150px;
  margin: 0 0.7em;  
  border-radius: 1em;
  font-weight: 300;
  background-color: #4B4B4B;
  color:whitesmoke ;
}

.btn:hover{
    background-color:#efefe9;
    color:#000;
    cursor: pointer;
}

.background {
    background-image: url('../login/piano_background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: white;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}

.blurred {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}